<!DOCTYPE html>
    <html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/aos/dist/aos.css" />
        <link rel="stylesheet" href="assets/css/style.css">

        <title>Consulting Brics</title>
    </head>
    <body>
        

        <!-- MENU FOR TABLET AND PHONE -->
        <div class="modal fade" id="menu-modal" tabindex="-1" aria-labelledby="menu-modal" aria-hidden="true">
            <div  class="modal-dialog">
            <div class="modal-content" style="background-color: #FFF;position: fixed;width: 100%;height: 100%;padding:50px;">

                <div>
                    <img src="assets/images/menu_close.png" style="float: right;margin-top:0px;margin-right: -15px;" onclick="$('#menu-modal').modal('hide')">
                </div>

                <div class="navbar-collapse" id="navbar-menu-sm" style="margin-top:25px;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="#quem-somos">SOBRE NÓS</a>
                        </li>
                        
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link dropdown-toggle" href="servicos.html" id="menu-servicos-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SERVIÇOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menu-servicos-sm">
                            <a class="dropdown-item" href="servicos.html#estrategia">ESTRATÉGIA E INOVAÇÃO</a>
                            <a class="dropdown-item" href="servicos.html#sustentabilidade">SUSTENTABILIDADE</a>
                            <a class="dropdown-item" href="servicos.html#tecnologia">TECNOLOGIA</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="#contato">CONTACTO </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:#F96205;">
                                <img src="assets/images/en.png" alt="">
                                PT
                            </a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="./index.html" lang="en">
                                EN
                            </a>
							
                        </li>
                    </ul>
                </div>

            </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-default bg-default fixed-top">
            <div class="container">    
                <a class="navbar-brand h1 mb-0" href="./index.html">
                    <img src="assets/images/logotipo.png" alt="" id="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#menu-modal">
                    <img src="assets/images/menu2.png" alt="">
                </button>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="#quem-somos">SOBRE NÓS</a>
                        </li>
                        
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link dropdown-toggle" id="menu-servicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SERVIÇOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menu-servicos">
                              <a class="dropdown-item" href="servicos.html#estrategia">ESTRATÉGIA E INOVAÇÃO</a>
                              <a class="dropdown-item" href="servicos.html#sustentabilidade">SUSTENTABILIDADE</a>
                              <a class="dropdown-item" href="servicos.html#tecnologia">TECNOLOGIA</a>
                            </div>
                          </li>

                         <li class="nav-item">
                            <a class="nav-link scroll-link" href="#contato">CONTACTO </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="#" style="color:#F96205;">
                                <img src="assets/images/en.png" alt="">
                                PT
                            </a>
							
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="#" style="margin-left:-45px;" href="./index.html" lang="en">
                                EN
                            </a>
							
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <video autoplay="true" loop muted playsinline id="background-video" >
            <!-- MUDE O VIDEO NO LINK ABAIXO -->
            <source src="assets/images/video-teste.mp4" type="video/mp4">
            
            <!-- IMG IF NO VIDEO FOUND -->
            <img src="assets/images/video.png">
        </video>

        <header class="text-center hero" id="header-homepage" >
            

            <div style="height: 30%;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-ms-12">
                        <h1>Somos a ponte entre si e os seus objetivos.</h1>
                        <button href="#contato" class="btn btn-action no-sm scroll-link">CONTACTE-NOS</button>
                        
                    </div>
                </div>
            </div>
            
            <img src="assets/images/full_video.png" class="full-video" onclick="toggleFullScreen();">

            <span class="hero__scroll aos-init aos-animate no-sm" data-aos-easing="ease" data-aos-delay="800">
				<i class="chevron bottom" style="color: #FFF;"></i>
			</span>
            
        </header>


        <div class="bg-white" style="padding-top: 100px;margin-top: -100px;">

            <div class="text-center  d-block d-md-none d-lg-none d-xl-none m-b-50" style="margin-top:-25px;">
                <button class="btn btn-action m-b-25 scroll-link" href="#contato">CONTACTE-NOS</button>
                <div>
                    <img src="assets/images/elipses-titles.png" class="m-t-50 img-fluid">
                </div>
                <div>
                    <img src="assets/images/down.png" class="m-t-50 mg-fluid">
                </div>
            </div>
            
            
            
            <div id="quem-somos">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 order-lg-1 order-md-2 order-2">

                            <div class="row">
                                <div class="col-lg-6 col-md-12 md-center " style="min-height: 350px;">

                                    <a href="https://www.linkedin.com/in/eleniccecandido/" target="_blank">
                                        <div class="col-persona">
                                            <div class="card card-persona" data-aos="fade-right">
                                                <img class="card-img" src="assets/images/elenice.png">
                                                <div class="card-body">
                        
                                                        <img src="assets/images/linkedin-btn.png" align="left" class="linkedin">
                                                        <p class="name md-center">    
                                                            Elenice Candido da Silva<br>
                                                            <small>• Fundadora & Chefe de Estratégia Internacional</small>
                                                        </p>
                                                        <img src="assets/images/linkedin-btn-sm.png" class="linkedin-sm">
                                                        
                                                </div>
                                            </div>
                                        </div>

                                    </a>

                                </div>
                                <div class="col-lg-5 col-md-12 offset-lg-5 md-center" style="min-height: 350px;">

                                    <a href="https://www.linkedin.com/in/antinsan" target="_blank">

                                        <div class="col-persona">
                                            <div class="card card-persona" data-aos="fade-right">
                                                <img class="card-img" src="assets/images/antonio.png">
                                                <div class="card-body">
                                                    
                                                        <img src="assets/images/linkedin-btn.png" align="left" class="linkedin">
                                                        <p class="name md-center">    
                                                            Antonio Insana<br>
                                                            <small>• Diretor Executivo (CEO)</small>
                                                        </p>
                                                        <img src="assets/images/linkedin-btn-sm.png" class="linkedin-sm">
            
                                                </div>
                                            </div>
                                        </div>

                                    </a>

                                </div>
                            </div>
                            

                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-1 order-1 md-center">
                            
                            <h5 class="color-orange we-300 pt-13" data-aos="fade-left">SOBRE NÓS</h5>
                            
                            <h2 class="color-blue font-philosopher pt-38 we-700 elipse-title-right" style="margin-bottom: 0px;" data-aos="fade-left">
                                Quem somos?
                            </h2>
                            <div class="divider bg-blue" data-aos="fade-left"></div>
                            <p class="pt-13 line-h-24 we-400" data-aos="fade-left">
                                Somos uma consultora focada na migração sustentável.
                                <br><br>
                                No mundo empresarial, os modelos de negócio sustentável são um
                                interesse crescente. É nesse sentido que proporcionamos métodos de
                                apoio a empresas cujo objetivo passa por se renovarem de forma
                                ecologicamente benéfica.
                            </p>

                            <p class="pt-13 line-h-24 we-400 d-none d-lg-block d-xs-block" data-aos="fade-left">
                                Aliado a isto, é conhecida a importância de uma empresa estar tão bem
                                posicionada a nível nacional, como internacional. O crescimento fora do
                                mercado brasileiro traz desafios diversos, nem sempre visíveis, que
                                conhecemos e compreendemos.
                                <br><br>
                                Esta visão é, em grande parte, resultante da vasta experiência da nossa fundadora, 
                                Elenice Candido da Silva, que se destaca como conhecedora e especialista nas 
                                nossas áreas de atuação.
                                <br><br>
                                Com um fornecimento de serviços que ajuda os nossos clientes a expandirem-se 
                                globalmente, exploramos desafios e conquistamos os seus objetivos.
                            </p>

                        </div>
                    </div>

                    <p class="pt-13 line-h-24 we-400 d-sm-block d-md-block d-lg-none d-xs-none md-center">
                        Aliado a isto, é conhecida a importância de uma empresa estar tão bem
                        posicionada a nível nacional, como internacional. O crescimento fora do
                        mercado brasileiro traz desafios diversos, nem sempre visíveis, que
                        conhecemos e compreendemos.
                        <br><br>
                        Esta visão é, em grande parte, resultante da vasta experiência da nossa fundadora, 
                        Elenice Candido da Silva, que se destaca como conhecedora e especialista nas 
                        nossas áreas de atuação.
                        <br><br>
                        Com um fornecimento de serviços que ajuda os nossos clientes a expandirem-se 
                        globalmente, exploramos desafios e conquistamos os seus objetivos.
                    </p>

                    <img src="assets/images/elipses_quemsomos.png" class="elipses d-none d-lg-block d-xl-block d-md-block">
                    <img src="assets/images/elipses_quemsomos_small.png" class="elipses d-block d-lg-none d-xl-none d-md-none" style="margin-top: 0px;">

                </div>
            </div>

            <div id="comentario" class="bg-blue-5">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 col-md-9">

                            <div class="comentario md-center" data-aos="fade-up">
                                <div class="abre-aspas font-philosopher color-blue pt-150">“</div>

                                <p class="font-philosopher pt-18 we-700 texto" id="comentario-elenice">
                                    A Consulting Brics nasceu do sonho de conectar o Brasil ao mundo e dar-lhe a 
                                    conhecer o seu enorme potencial. Nascida no Mato Grosso e criada na fazenda de 
                                    família, idealizei e construí uma empresa de consultoria global, com o objetivo 
                                    de ajudar na urgente migração dos modelos de negócio para as áreas da sustentabilidade.
                                </p>
                                <div class="autor text-right upper we-300 md-center">
                                    <div>
                                        <img src="assets/images/assinatura.png" class="img-fluid" alt="">
                                    </div>
                                    - Elenice candido
                                </div>

                                <div class="fecha-aspas font-philosopher color-blue pt-150">”</div>
                            </div>

                        </div>
                    </div>                
                </div>

            </div>

            <div id="missao">

                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-4 col-md-7" data-aos="fade-up">
                            <div class="item  md-center">

                                <div class="circle bg-orange d-sm-none d-md-none d-lg-block d-xs-block no-sm"></div>

                                <img src="assets/images/missao.png" class="radius-15 item-img m-b-25 img-fluid">
                                <div class="conteudo">
                                    <strong class="we-500 color-blue upper pt-13">A nossa missão</strong>
                                    <p class="pt-13 we-400 m-t-15 line-h-24">
                                        Suportar, através dos nossos serviços, a migração sustentável dos 
                                        modelos de negócio, para se adaptar às novas exigências do mercado 
                                        e valorizar o branding atribuindo um maior valor socioambiental.
                                    </p>
                                </div>

                                <div class="circle-sm bg-orange d-lg-none d-xs-none d-sm-block d-md-block"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 " data-aos="fade-up">
                            <div class="item m-t-50 md-center">

                                <div class="circle bg-orange d-sm-none d-md-none d-lg-block d-xs-block no-sm" style="top:200px"></div>

                                <img src="assets/images/visao.png" class="radius-15 item-img m-b-25 img-fluid">

                                <div class="conteudo">
                                    
                                    <strong class="we-500 color-blue upper m-t-15">A nossa visão</strong>
                                    <p class="pt-13 we-400 m-t-15 line-h-24">
                                        Criar um ambiente económico global onde empresas e particulares 
                                        podem potencializar ideias e negócios baseados nos pilares da 
                                        sustentabilidade.
                                    </p>
                                </div>

                                <div class="circle-sm bg-orange d-lg-none d-xs-none d-sm-block d-md-block"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7" data-aos="fade-up">
                            <div class="item m-t-100 md-center">
                                <img src="assets/images/valores.png" class="radius-15 item-img m-b-25 img-fluid">
                                <div>
                                    <strong class="we-500 color-blue upper">Os nossos valores</strong>
                                    <p class="pt-13 we-400 m-t-15 line-h-24">
                                        Inovação na procura de soluções;
                                        Transparência com os clientes;
                                        Autenticidade na forma de atuar;
                                        Sofisticação perante os objetivos;
                                        Confiança nos nossos conhecimentos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>  

                    <img src="assets/images/elipses-titles.png" class="elipses d-lg-none d-xs-none d-sm-block d-md-block img-center m-t-45">
                </div>

            </div>

            <svg id="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#F2F2FA" fill-opacity="1" d="M0,224L48,213.3C96,203,192,181,288,176C384,171,480,181,576,197.3C672,213,768,235,864,224C960,213,1056,171,1152,144C1248,117,1344,107,1392,101.3L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
            
            <div id="servicos" class="bg-blue-5">
                
                <div class="container" style="margin-top: -50px;">
                    <div class="row justify-content-md-center">

                        <div class="col-lg-12 col-md-12 titulo-servicos">
                            <div  data-aos="fade-up">
                                <h5 class="color-orange we-300 pt-13 upper">Serviços</h5>
                                <h2 class="pt-38 font-philosopher we-700 color-blue">O que fazemos?</h2>
                                <div class="divider bg-blue m-t-15 m-b-50 no-sm"></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-7" data-aos="fade-up">

                            <a href="servicos.html#tecnologia" style="text-decoration:none;">

                                <div class="servico radius-15" data-aos="fade-up">
                                    <img src="assets/images/icone-estrategia.png" class="icone">
                                    <div class="conteudo">
                                        <div class="titulo upper color-blue we-500 pt-13 m-b-25 m-t-50 text-center">
                                            estratégia e inovação
                                        </div>
                                        <div class="texto text-center line-h-24">
                                            Desenvolvimento de Negócios e Ideias<br>
                                            Estratégia de Mercado<br>
                                            Consultoria em Comércio Externo<br>
                                            Consultoria Legal
                                            <div class="text-right m-t-10">
                                                <img src="assets/images/seta-para-direita.png" style="width: 30px;" alt="">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </a>

                        </div>

                        <div class="col-lg-4 col-md-7" data-aos="fade-up">

                            <div class="m-b-100 no-sm no-md"><br></div>

                            <a href="servicos.html#tecnologia" style="text-decoration:none;">

                                <div class="servico radius-15">
                                    <img src="assets/images/icone-sustentabilidade.png" class="icone">
                                    <div class="conteudo">
                                        <div class="titulo upper color-blue we-500 pt-13 m-b-25 m-t-50 text-center">
                                            SUSTENTABILIDADE
                                        </div>
                                        <div class="texto text-center line-h-24">
                                            Consultoria em Meio Ambiente<br>
                                            Branding & Rebranding<br>
                                            UX/UI Design
                                            <div class="text-right m-t-10">
                                                <img src="assets/images/seta-para-direita.png" style="width: 30px;" alt="">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </a>

                        </div>

                        <div class="col-lg-4 col-md-7" style="min-height: 434px;" data-aos="fade-up">

                            <div class="m-b-100 no-sm no-md"><br><br><br></div>

                            <a href="servicos.html#tecnologia"style="text-decoration:none;">

                                <div class="servico radius-15">
                                    <img src="assets/images/icone-tecnologia.png" class="icone">
                                    <div class="conteudo">
                                        <div class="titulo upper color-blue we-500 pt-13 m-b-25 m-t-50 text-center">
                                            Tecnologia
                                        </div>
                                        <div class="texto text-center line-h-24">
                                            IOT (Internet Das Coisas)<br>
                                            Machine Learning + Data Science (BI)<br>
                                            Engineering + IOT + Machine Learning
                                            <div class="text-right m-t-10">
                                                <img src="assets/images/seta-para-direita.png" style="width: 30px;" alt="">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </a>

                        </div>

                    </div>

                    <img src="assets/images/elipses-titles.png" class="elipses d-none d-lg-block d-xs-block">
                </div>
            </div>

            <div id="contato">
                <div class="container">
                    <div class="row">

                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 order-2 order-sm-2 order-md-2 order-lg-1">
                            <img src="assets/images/mapa.png" class="mapa img-fluid" data-aos="fade-up">
                        </div>

                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 order-1 order-sm-1 order-md-1 order-lg-2 md-center">
                            <div class="conteudo" data-aos="fade-up">
                                <h5 class="color-orange we-300 pt-13 upper">contactos</h5>
                                <h2 class="pt-38 font-philosopher we-700 color-blue">Contacte-nos</h2>
                                <div class="divider bg-blue m-t-15 m-b-35"></div>

                                <div style="padding-left: 40px;">
                                    <p class="pt-13 we-400 line-h-24">
                                        <img src="assets/images/phone.png" class="icone" >
                                        <a href="https://wa.link/rakie9" style="color: black;">(+55) 41 3018 4148</a> 
                                    </p>

                                    <p class="pt-13 we-400 line-h-24">
                                        <img src="assets/images/email.png" class="icone">
                                        <a href="mailto:contactus@consultingbrics.com" style="color: black;">contactus@consultingbrics.com</a> 
                                    </p>

                                    <p class="pt-13 we-400 line-h-24">
                                        <img src="assets/images/location.png" class="icone" style="margin-top: 25px;">
                                        Rua Reinaldo Schaffenberg de Quadros, 308<br>
                                        Sala 4, Alto da XV - 80045 -070<br>
                                        Curitiba (PR)<br>
                                        Brasil
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div style="height: 100px;">
                        <img src="assets/images/elipses_contacto.png" class="elipses d-none d-md-block d-lg-block d-xs-block">
                        <img src="assets/images/elipses_contactos_small.png" class="elipses d-block d-md-none d-lg-none d-xl-none">
                        <a href="https://www.linkedin.com/company/consulting-brics/">
                            <div >
                                <img class="col-persona" src="assets/images/linkedin-btn-sm.png" style="display:block;margin-left: auto;margin-right: auto;z-index: 11;margin-top: 50px;">
                            </div>                            
                        </a>
                    </div>
                    

                </div>
            </div>

            <button href="#header-homepage" class="btn btn-action scroll-link btn-back-top">Back to top</button>

            
            
    </div>


        
        <div id="footer" class="bg-grey color-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-12 md-center  order-md-2 order-lg-1">
                        <p class="pt-8">2020 © Consulting Brics. Todos os direitos reservados. Developed By <a href="https://www.silastec.com" style="color:white; font-weight:900;">SilasTec</a></p>
                    </div>
                    <div class="col-lg-5 col-md-12 text-right md-center  order-md-1 order-lg-2">
                        <p class="pt-8"><a href="./legal.html" style="color:white;">INFORMAÇÃO LEGAL</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

        <script src="assets/js/main.js"></script>
        <script src="node_modules/aos/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>